In [23]:
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.corpus import stopwords

import os
import numpy as np
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly as py
import plotly.graph_objs as go
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import operator 
import pandas as pd
import string
import re
import numpy as np
import sys
import os
import requests
import nltk
import pickle


init_notebook_mode(connected=True) #do not miss this line

from gensim import corpora, models, similarities

import warnings
warnings.filterwarnings("ignore")

In [24]:
dfCleanData = pd.read_csv('cleanData.csv')
dfCleanPosData = pd.read_csv('cleanPosData.csv')

In [25]:
dfCleanData = dfCleanData.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'count', 'hate_speech', 'offensive_language','neither'])
dfCleanPosData = dfCleanPosData.drop(columns=['Unnamed: 0', 'polarity'])

In [26]:
dfCleanData.head()

   class                                              tweet
0      2  as woman complain cleaning house man always ta...
1      1    boy dats cold tyga dwn bad cuffin dat hoe place
2      1  dawg you ever fuck bitch start cry you confuse...
3      1                                   look like tranny
4      1  the shit hear might true might faker bitch tol...

In [27]:
dfCleanPosData.head()

                                               tweet  class
0  upset update facebook texting might cry result...      2
1  i dived many times ball managed save the rest ...      2
2                   whole body feels itchy like fire      2
3                                 behaving mad i see      2
4                                         whole crew      2

In [28]:
frames = [dfCleanData, dfCleanPosData]
main = pd.concat(frames)

In [29]:
main.describe()

               class
count  824782.000000
mean        1.973266
std         0.171718
min         0.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         2.000000

In [30]:
X_train, X_test, y_train, y_test = train_test_split(main['tweet'], main['class'], random_state=0)

In [31]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train.astype('U'))
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
model = MultinomialNB().fit(X_train_tfidf, y_train)

In [32]:
predictions = model.predict(count_vect.transform(X_test.astype('U')))
counter =0
for i in predictions:
    if i == 2:
        counter += 1
    else:
        continue
counter

204395

In [37]:
model.predict(count_vect.transform(['fuck you bitch']))

array([1])

In [39]:
from sklearn.externals import joblib
joblib.dump(model, 'model.pkl')

['model.pkl']